.new-expense {
    background-color: var(--bgColor-form);
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    color: var(--text-high);
  }
  
  .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: .5rem 1rem;
    background-color: var(--bgColor-btn);
    color: var(--text-high);
    border-radius: 7px;
    margin-right: 1rem;
    transition: transform .2s ease;
    border: none;
    color : rgb(243, 243, 243);
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: var(--bgColor-fill-active);
    transform : scale(1.02);
  }
  
  .new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: #ddb3f8;
  }

  @media(max-width:400px) {
    .new-expense button {
      padding: .5rem 1rem;
      margin : 1rem .2rem;
      font-size: .7rem;
    }

    .new-expense {
      padding : .5rem;
    }
  }